<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>arXiv論文検索</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>
  <body>
    <h1>arXiv論文検索</h1>
    <form action="/search" method="post">
      <p>
        <select name="prefix">
          <option value="all">ALL</option>
          <option value="ti">Title</option>
          <option value="au">Author</option>
          <option value="abs">Abstract</option>
          <option value="co">Comment</option>
          <option value="jr">Journal Reference</option>
          <option value="cat">Subject Category</option>
          <option value="rn">Report Number</option>
          <option value="id">ID</option>
        </select>
        :
        <input type="text" name="query" placeholder="キーワードを入力" />
        <button type="submit">検索</button>
      </p>
    </form>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
  </body>
</html>
